html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(122, 223, 101);
    padding: 10px 20px 0px;
}
.menu li{
    list-style: none;
    color:#FFF
}
.menu ul{
    margin-left: -40px;
}
.menu h2{
    list-style: none;
    color:#FFF;
}
.header {
    background-color: rgb(18, 119, 119);
    min-height: 150px;
    background-image: url(./image.jpg);
    background-size: 1000px;
}
.header h1{
    color: #30ac20;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 1em;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(17, 83, 22);
    min-height: 150px;
}

.footer a:visited, footer a:link{
    color: #FFF
}

.footer h4{
    color: #FFF;
    margin-left: 25px;
}

.menu a:visited, .menu a:link{
    color: #FFF;
}

table, th, td{
    border: 1px black solid;
    border-collapse: collapse;
}

th{
    background-color: black;
    color: white;
}






